<div class="projects-list-page grey-bg">
  <h1 class="general-subtitle">List of all projects</h1>
  <div class="filters">Filters</div>
  <div class="all-projects">
    {{#each projects}}
    {{!-- {{projectPartial}} --}}

    {{!-- A REMPLACER PAR LE {{projectPartial}}   --}}
    <div class="{{campus}} {{course}} {{module}}">
      <h3>
          <a href="/projects/{{id}}">{{this.name}}</a>
          <p> <img src="{{this.imageUrl}}" alt></p>
          <p>{{this.description}}</p>
      </h3>
      {{!-- <a href="/projects/{{id}}/edit">Edit</a>

      <form action="/projects/{{id}}/delete" method="POST"><button>supprimer</button></form> --}}

    </div>
    {{!-- A REMPLACER PAR LE {{projectPartial}}   --}}

    {{/each}}
  </div>