<div class="projects-list-page grey-bg">

  <!-- Top navbar -->
  <nav class="courses-nav">
    <a href="#" class="">
      <svg class="ir-logo" xmlns="http://www.w3.org/2000/svg" width="7vw" height="7vw" viewBox="0 0 50 50">
        <defs>
          <style>
            .cls-1 {
              fill: #2dc5fa;
            }

            .cls-2 {
              fill: #fff;
            }
          </style>
        </defs>
        <path class="cls-1"
          d="M22.53.33,3.16,11A3.11,3.11,0,0,0,1.7,13.43V34.57A3.09,3.09,0,0,0,3.16,37L22.53,47.67a3.44,3.44,0,0,0,2.94,0L44.84,37a3.13,3.13,0,0,0,1.46-2.47V13.43A3.12,3.12,0,0,0,44.84,11L25.47.33a3.44,3.44,0,0,0-2.94,0Z"
          transform="translate(-1.7 0)" />
        <path class="cls-2"
          d="M16.83,18.51h0Zm0,0Zm0,0ZM12,22.73h1.58V14.94H12Zm5-4.22Zm0,0h0Zm0,0h0Zm-.06,0V16.16a8.64,8.64,0,0,1,1-.06c1.14,0,1.53.34,1.53,1.2s-.58,1.24-1.56,1.24c-.31,0-.61,0-.92,0h0s0,0,0,0Zm-1.57-3.42v7.65h1.57v-3l1,0,1.59,2.93h1.82l-1.77-3.11a2.09,2.09,0,0,0,1.49-2.31c0-2.1-1.41-2.44-3.13-2.44A15.08,15.08,0,0,0,15.22,15.08Zm8.53,3.76c0-1.59,0-2.68,1.51-2.68s1.51,1.09,1.51,2.68,0,2.66-1.51,2.66S23.75,20.42,23.75,18.84Zm-1.61,0c0,2.81.7,4,3.12,4s3.12-1.16,3.12-4-.7-4-3.12-4S22.14,16,22.14,18.84ZM29.86,16v6.68h1.42V17l2.47,4.78c.4.78.77,1,1.35,1s.95-.36.95-1.19V14.94H34.63v5.71l-2.47-4.76c-.4-.75-.81-1-1.35-1S29.86,15.22,29.86,16Z"
          transform="translate(-1.7 0)" />
        <path class="cls-2"
          d="M15,29.72H12.61v3.37h-.69V25h2.63a3,3,0,0,1,2,.63,2.38,2.38,0,0,1,.27,3.12,2.28,2.28,0,0,1-1.22.82l2,3.44v.08h-.72Zm-2.35-.58h2.1a2,2,0,0,0,1.38-.49,1.66,1.66,0,0,0,.52-1.27,1.68,1.68,0,0,0-.54-1.33,2.26,2.26,0,0,0-1.53-.47H12.61Z"
          transform="translate(-1.7 0)" />
        <path class="cls-2" d="M20,33.09h-.68V25H20Z" transform="translate(-1.7 0)" />
        <path class="cls-2" d="M28.21,33.09h-.68l-4.65-6.92v6.92h-.69V25h.69l4.65,6.93V25h.68Z"
          transform="translate(-1.7 0)" />
        <path class="cls-2"
          d="M36.1,32.13a2.29,2.29,0,0,1-1.11.78,4.81,4.81,0,0,1-1.7.29,3.11,3.11,0,0,1-1.69-.46,3,3,0,0,1-1.14-1.29,4.29,4.29,0,0,1-.41-1.91v-1a3.9,3.9,0,0,1,.85-2.66,2.85,2.85,0,0,1,2.28-1,3.06,3.06,0,0,1,2,.63,2.6,2.6,0,0,1,.9,1.76h-.68a2.07,2.07,0,0,0-.72-1.35,2.34,2.34,0,0,0-1.51-.46,2.18,2.18,0,0,0-1.79.8,3.52,3.52,0,0,0-.66,2.28v.95A4,4,0,0,0,31,31.13a2.47,2.47,0,0,0,.9,1.1,2.38,2.38,0,0,0,1.35.39,3.72,3.72,0,0,0,1.52-.28,1.72,1.72,0,0,0,.61-.42V29.83H33.25v-.58H36.1Z"
          transform="translate(-1.7 0)" />
      </svg>
    </a>
    <div class="top-nav-items">
      <ul>
        <li><a class="small-btn" href="/signup">Sign-up</a></li>
        <li><a class="blue-btn small-btn" href="/login">Log-in</a></li>
      </ul>
    </div>
  </nav>

  <!-- Left navbar -->
  <div class="left-nav">
    <a class="ico" href="#"><i class="fas fa-home"></i></a>
    <a class="ico" href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="15" height="15" x="0" y="0" viewBox="0 0 227 227"
        style="enable-background:new 0 0 15 15" xml:space="preserve" class="">
        <g>
          <path xmlns="http://www.w3.org/2000/svg"
            d="M211.263,76.362H189V58.05c4-2.245,6.997-5.688,9.148-8.688h8.832c8.31,0,15.07-6.046,15.07-13.5s-6.761-13.5-15.07-13.5  h-9.558c-4.617-7-12.582-11.724-21.622-11.724s-17.006,4.724-21.622,11.724H72.489c-4.617-7-12.582-11.724-21.622-11.724  s-17.006,4.724-21.622,11.724h-9.557c-8.31,0-15.07,6.046-15.07,13.5s6.761,13.5,15.07,13.5h8.831c2.151,3,4.482,6.443,8.482,8.688  v18.312H16.404C7.528,76.362,0,83.557,0,92.432v107.859c0,8.875,7.528,16.07,16.404,16.07h194.859  c8.875,0,15.737-7.195,15.737-16.07V92.432C227,83.557,220.138,76.362,211.263,76.362z M64,58.05c4-2.245,7.064-5.688,9.214-8.688  h80.237c2.151,3,4.548,6.443,8.548,8.688v18.312H64V58.05z M70,177.362H57.209L33,136.702v40.66H19v-63h13.666L57,155.88v-41.518h13  V177.362z M125,177.362H82v-63h43v11H95v15h26v10H95v17h30V177.362z M192.767,177.362h-12.42l-11.014-39.641l-11.014,39.641H145.9  l-14.751-63h13.363l8.585,40.953l11.203-40.953h10.025l11.29,40.975l8.54-40.975h13.32L192.767,177.362z"
            fill="#c0c4d0" data-original="#000000" style="" class="" />
        </g>
      </svg>
    </a>
    <a class="ico" href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="15" height="15" x="0" y="0"
        viewBox="0 0 566.848 566.848" style="enable-background:new 0 0 15 15" xml:space="preserve" class="">
        <g>
          <g xmlns="http://www.w3.org/2000/svg">
            <g>
              <path
                d="M550.542,206.812l-14.424-3.075c-1.83-2.433-3.789-4.764-6.02-6.897c-1.096-1.047-2.289-1.995-3.473-2.95    c-11.843-9.52-28.055-14.394-48.376-14.394h-19.146h-36.692l-32.387-6.903L300.445,24.377c-4.7-7.778-10.862-11.665-17.022-11.665    c-6.16,0-12.323,3.889-17.023,11.665l-89.578,148.214l-32.387,6.903h-36.692H71.053H33.589c-6.986,0-12.812,4.709-14.646,11.108    c-0.382,1.34-0.655,2.726-0.655,4.192v3.77v7.821l-1.986,0.422c-17.775,3.788-21.61,17.118-8.559,29.771l62.304,60.413v10.658    v10.656v40.729c0,8.447,6.852,15.299,15.3,15.299h24.278h7.724h7.723l-22.093,158.598c-1.852,13.295,3.776,21.199,13.421,21.199    c3.412,0,7.329-0.988,11.594-3.078l155.427-76.102l155.424,76.104c4.266,2.088,8.182,3.08,11.594,3.08    c9.648,0,15.275-7.902,13.422-21.201l-22.094-158.596h3.091c1.588,0,3.087-0.309,4.528-0.76c2.794-0.869,5.221-2.496,7.075-4.67    c2.273-2.67,3.699-6.088,3.699-9.871v-5.207v-10.652V332.52l19.976-19.369c4.346-0.242,8.467-0.721,12.421-1.387    c5.367-0.902,10.364-2.201,14.991-3.883c8.256-3.002,15.382-7.174,21.209-12.627c6.762-6.334,11.777-13.889,15.082-22.563    c1.692-4.443,2.907-9.195,3.682-14.226c0.572-3.708,0.894-7.573,0.967-11.591l10.615-10.294    C572.152,223.929,568.321,210.6,550.542,206.812z M530.515,264.303c-2.436,7.782-6.469,14.404-12.212,19.783    c-5.021,4.703-11.384,8.217-19.067,10.547c-7.57,2.303-16.429,3.455-26.585,3.455h-27.785v49.264v11.684h-5.221h-45.756v-164.24    h84.361c18.372,0,32.133,4.37,41.282,13.109c9.149,8.74,13.725,21.175,13.725,37.308    C533.257,252.24,532.305,258.578,530.515,264.303z M85.349,333.145v-10.656V311.83v-76.478h-51.76v-32.225v-7.821v-0.508h2.383    h36.689h115.197v40.557h-51.76v123.686h-8.896h-7.723h-7.724H85.349V333.145z M283.423,361.838    c-18.522,0-33.853-2.951-45.989-8.85c-12.136-5.9-21.977-15.236-29.52-28.008c-7.542-12.773-11.315-28.756-11.315-47.951    c0-26.814,7.469-47.69,22.405-62.626c14.939-14.939,35.737-22.405,62.402-22.405c27.335,0,48.397,7.338,63.186,22.014    c14.789,14.676,22.183,35.236,22.183,61.674c0,19.195-3.231,34.937-9.691,47.222s-15.796,21.846-28.008,28.682    C316.862,358.426,301.648,361.838,283.423,361.838z"
                fill="#c0c4d0" data-original="#000000" style="" class="" />
              <path
                d="M281.293,230.422c-10.232,0-18.449,3.623-24.648,10.866c-6.199,7.246-9.299,19.232-9.299,35.964    c0,16.583,3.082,28.495,9.245,35.737c6.163,7.246,14.544,10.867,25.15,10.867c10.903,0,19.345-3.547,25.319-10.643    c5.976-7.098,8.963-19.83,8.963-38.205c0-15.459-3.118-26.756-9.354-33.889C300.434,233.991,291.976,230.422,281.293,230.422z"
                fill="#c0c4d0" data-original="#000000" style="" class="" />
              <path
                d="M459.314,228.183h-14.452v36.634h12.436c9.783,0,16.656-1.698,20.615-5.098c3.96-3.4,5.937-7.748,5.937-13.051    c0-5.153-1.717-9.522-5.153-13.109C475.261,229.976,468.801,228.183,459.314,228.183z"
                fill="#c0c4d0" data-original="#000000" style="" class="" />
            </g>
          </g>
        </g>
      </svg>
    </a>
    <a class="ico" href="#"><i class="fas fa-heart"></i></a>
  </div>

  <!-- Page content -->
  <div class="content-container">
    <h1 class="general-subtitle">List of all projects</h1>
    <div class="filters">Filters</div>
    <div class="all-projects">
      {{#each projects}}
        {{!-- {{projectPartial}} --}}

        {{!-- A REMPLACER PAR LE {{projectPartial}}   --}}
      <div>
      <h3>
        <a href="/projects/{{id}}">{{this.name}}</a> 
       <p> <img src="{{this.imageUrl}}" alt></p>
       <p>{{this.description}}</p>
      </h3> 
      <a href="/projects/{{id}}/edit">Edit</a> 

      <form action="/projects/{{id}}/delete" method="POST"><button>supprimer</button></form>

    </div>
        {{!-- A REMPLACER PAR LE {{projectPartial}}   --}}

      {{/each}}
    </div>
  </div>

</div>