<div class="projects-details-page grey-bg">

  <img class="project-detail-picture" src="{{project.imageUrl}}" alt="project-picture" />

  <div class="project-detail-data">
    <div class="project-detail-col1">
      <h1 class="projects-details-name">{{project.name}} &#8226; </h1>
      <p class="project-detail-module">&nbsp; Module {{project.module}}</p>
      <p class="projects-details-description">{{project.description}}</p>


      {{#if userIsUploader}}
      <div class="flex">
        <a class="small-btn blue-btn" href="/projects/{{project.id}}/edit">Edit</a>
        <form action="/projects/{{project.id}}/delete" method="POST"><button class="small-btn light-btn">Delete</button>
        </form>
      </div>
      {{/if}}
    </div>

    <div class="project-detail-col2">
      <p class="projects-details-name">Details</p>

      <div class="project-detail-int-col" style="margin-right: 5vw;">
        <div class="flex" style="padding-bottom: 2vh; margin-top: 1.5vh;">
          <div class="ico"><i class="fas fa-user"></i></div>
          <div>
            <p class="projects-details-answer">Creator</p>
            <p><a href="/creatorProfile/{{creator._id}}">{{creator.firstName}} {{creator.lastName}}</a></p>
          </div>
        </div>

        <div class="flex">
          <div class="ico"><i class="fas fa-calendar"></i></div>
          <div>
            <p class="projects-details-answer">Creation date</p>
            <p>{{project.year_creation}}</p>
          </div>
          <div class="ico"></div>
        </div>
      </div>

      <div class="project-detail-int-col">
        <div class="flex">
          <div class="ico"><i class="fas fa-microchip"></i></div>
          <div>
            <p class="projects-details-answer">Tech used</p>
            <p>{{project.techno}}</p>
          </div>
        </div>
      </div>

      {{#if project.github}}
      <div class="project-detail-int-col">
        <div class="flex">
          <div class="ico"><i class="fas fa-database"></i></div>
          <div>
            <p class="projects-details-answer">Github</p>
            <p><a href="{{project.github}}">{{project.github}}</a></p>
          </div>
        </div>
      </div>
      {{/if}}

      {{#if project.url}}
      <div class="project-detail-int-col">
        <div class="flex">
          <div class="ico"><i class="fas fa-tv"></i></div>
          <div>
            <p class="projects-details-answer">URL</p>
            <p><a href="{{project.url}}">{{project.url}}</a></p>
          </div>
        </div>
      </div>
      {{/if}}

    </div>

  </div>
</div>