{{!-- views/users/userProfile.hbs --}}
<div id='profile'>
  {{#if user.ironhacker}}
  <h2>Welcome, {{ user.firstName }}!</h2>
  <p>This is your profile page!</p>

  <div>
    <p>Lastname: {{user.lastName}}</p>
    {{#if user.expertise}}
    <p>Expertise: {{user.expertise}}</p>
    {{/if}}
    <p>GitHub: {{user.github}}</p>
    <p>LinkedIn: {{user.linkedIn}}</p>
    <p>course: {{user.course}}</p>
    <p>Campus: {{user.campus}}</p>
    <p>Format: {{user.format}}</p>
    <p>Projects: {{#each user.projects}}
      <li>{{projects}}</li>
      {{/each}}
    </p>
  </div>



  <button>
    <a href="/userEdit">Edit your profile</a>
  </button>
  {{else}}
  <h2>Welcome, {{ user.email }}!</h2>



  {{/if}}

</div>