<div id="profile" class="profile-page grey-bg">

  <div class="flex">
    <div>
      <img class="profile-picture" src="{{user.profileImgSrc}}" />
      <p class="user-project-quantity">{{#if user.projects.length}} {{user.projects.length}} projects{{else}} 0
        project{{/if}}
      </p>
    </div>

    <div class="profile-informations">
      <p class="profile-name"> {{user.firstName}} {{user.lastName}}</p>
      {{#if user.expertise}}<p class="profile-expertise">Expertise: {{user.expertise}}</p>{{/if}}
      <p class="profile-campus">Campus: {{user.campus}}</p>
      {{#if user.gitHub}}<p>Github:<a href="{{user.gitHub}}"> {{user.gitHub}}</a></p>{{/if}}
      {{#if user.linkedIn}}<p>LinkedIn:<a href="{{user.linkedIn}}"> {{user.linkedIn}}</a></p>{{/if}}
    </div>

    {{!-- Edit btn only if owner of the profile --}}
    <div style="position: absolute;right: 10vh;">
      <a class="small-btn" href="/userEdit">Edit your profile</a>
    </div>

  </div>

  <div class="all-projects">
    {{#each projects}}
    <div class="hover-effect column-effect project-card">
      <div class="figure"><a href="/projects/{{id}}"><img src="{{imageUrl}}" alt=""><span>+ View this
            project</span></div></a>
      <div>
        <a href="/projects/{{id}}"></a>
        <p class="project-name">{{name}}</p></a>
        <p class="project-date">{{year_creation}}</p>
      </div>
      {{!-- <div>
        <p class="project-likes">{{this.likes}}72<i class="fas fa-heart"></i></p>
      </div> --}}
      <div class="flex">
        <a href="/projects/{{id}}/edit" class="small-btn blue-btn">Edit</a>
        <form action="/projects/{{id}}/delete" method="POST"><button class="small-btn light-btn">supprimer</button>
        </form>
      </div>
    </div>

    {{/each}}
  </div>

</div>