<div id="profile" class="profile-page grey-bg">

  <div class="flex">
    <div>
      <img class="profile-picture" src="{{user.profileImgSrc}}" />
      <p class="user-project-quantity">{{#if user.projects.length}} {{user.projects.length}} projects{{else}} 0 project{{/if}}
      </p>
    </div>

    <div class="profile-informations">
      <p class="profile-name"> {{user.firstName}} {{user.lastName}}</p>
      {{#if user.expertise}}<p class="profile-expertise">Expertise: {{user.expertise}}</p>{{/if}}
      <p class="profile-campus">Campus: {{user.campus}}</p>
      {{#if user.gitHub}}<p>Github:<a href="{{user.gitHub}}"> {{user.gitHub}}</a></p>{{/if}}
      {{#if user.linkedIn}}<p>LinkedIn:<a href="{{user.linkedIn}}"> {{user.linkedIn}}</a></p>{{/if}}
    </div>

    {{!-- Edit btn only if owner of the profile --}}
    <div style="position: absolute;right: 10vh;">
      <a class="small-btn" href="/userEdit">Edit your profile</a>
    </div>

  </div>

  <div class="filters profile-filters">
    <form class="filters-form" action="/projects/q" method="GET">

      <!-- Module -->
      <div>
        <label for="module">Module</label>
        <select name="module" id="filter-module" class="selectpicker" data-style="btn-light" multiple>
          <!-- Si filtre WebDev -->
          {{#if courseWebDev}}
          <option value="1">1: Responsive design</option>
          <option value="2">2: Back-end</option>
          <option value="3">3: Front-end</option>
          <option value="Personal">Personal project</option>
          {{else}}
          {{#if courseUX}}
          <!-- ATTENTION MAUVAIS FILTRE !! -->
          <option value="1">1: User experience</option>
          <option value="2">2: Design user interfaces</option>
          <option value="3">3: Design implementation</option>
          <option value="Personal">Personal project</option>
          {{else}}
          {{#if courseData}}
          <!-- ATTENTION MAUVAIS FILTRE !! -->
          <option value="1">1: SQL to and Python</option>
          <option value="2">2: Advanced Data Analytics</option>
          <option value="3">3: Machine learning</option>
          <option value="Personal">Personal project</option>
          {{else}}
          {{#if courseCyber}}
          <!-- ATTENTION MAUVAIS FILTRE !! -->
          <option value="1">1: Basics of Cybersecurity</option>
          <option value="2">2: Security and Threats</option>
          <option value="3">3: Real projects</option>
          <option value="Personal">Personal project</option>
          {{else}}
          <!-- No filter - Everyone -->
          <optgroup label="WebDev">
            <option value="1">1: Responsive design</option>
            <option value="2">2: Back-end</option>
            <option value="3">3: Front-end</option>
            <option value="Personal">Personal project</option>
          </optgroup>
          <optgroup label="UX/UI">
            <option value="1">1: User experience</option>
            <option value="2">2: Design user interfaces</option>
            <option value="3">3: Design implementation</option>
            <option value="Personal">Personal project</option>
          </optgroup>
          <optgroup label="Data Analyse">
            <option value="1">1: SQL to and Python</option>
            <option value="2">2: Advanced Data Analytics</option>
            <option value="3">3: Machine learning</option>
            <option value="Personal">Personal project</option>
          </optgroup>
          <optgroup label="Cybersecurity">
            <option value="1">1: Basics of Cybersecurity</option>
            <option value="2">2: Security and Threats</option>
            <option value="3">3: Real projects</option>
            <option value="Personal">Personal project</option>
          </optgroup>
          {{/if}}
          {{/if}}
          {{/if}}
          {{/if}}
        </select>
      </div>

      <!-- Rank -->
      <div>
        <label for="rank">Rank</label>
        <select name="rank" id="filter-rank" class="selectpicker" data-style="btn-light" multiple>
          <option value="1st">1st</option>
          <option value="2nd">2nd</option>
          <option value="3rd">3rd</option>
          <option value="not_ranked">Not Ranked</option>
        </select>
      </div>

      <!-- Techno -->
      <div>
        <label for="techno">Techno</label>

        <!-- Si filtre WebDev -->
        {{#if courseWebDev}}
        <select name="techno" id="filter-techno" class="selectpicker" data-style="btn-light" multiple>
        <option>HTML5 - CSS3</option>
        <option>JavaScript</option>
        <option>NodeJS</option>
        <option>ExpressJS</option>
        <option>MongoDB</option>
        <option>ReactJS</option>
        </select>

        {{else}}
        <!-- Si filtre UX/UI -->
        {{#if courseUX}}
        <select name="techno" id="filter-techno" class="selectpicker" data-style="btn-light" multiple>
        <option>UI</option>
        <option>UX</option>
        <option>With prototypes</option>
        <option>HTML5 - CSS3</option>
        </select>

        {{else}}
        <!-- Si filtre Data Analyse -->
        {{#if courseData}}
        <select name="techno" id="filter-techno" class="selectpicker" data-style="btn-light" multiple>
        <option>Python</option>
        <option>MySQL</option>
        <option>Statistical analysis</option>
        <option>Connected to API</option>
        <option>With IA</option>
        </select>

        {{else}}
        <!-- Si filtre Cybersecurity -->
        {{#if courseCyber}}
        <select name="techno" id="filter-techno" class="selectpicker" data-style="btn-light" multiple>
        <option>Around networking traffic</option>
        <option>Around fingerprinting</option>
        <option>Encrypting data</option>
        <option>Backup and recovery</option>
        </select>

        {{else}}
        <!-- No filter - Everyone -->
        <select name="techno" id="filter-techno" class="selectpicker" data-style="btn-light" multiple>
          <optgroup label="Web-Dev">
            <option>HTML5 - CSS3</option>
            <option>JavaScript</option>
            <option>NodeJS</option>
            <option>ExpressJS</option>
            <option>MongoDB</option>
            <option>ReactJS</option>
          </optgroup>
          <optgroup label="UX/UI">
            <option>UI</option>
            <option>UX</option>
            <option>With prototypes</option>
            <option>HTML5 - CSS3</option>
          </optgroup>
          <optgroup label="Data Analyse">
            <option>Python</option>
            <option>MySQL</option>
            <option>Statistical analysis</option>
            <option>Connected to API</option>
            <option>With IA</option>
          </optgroup>
          <optgroup label="Cybersecurity">
            <option>Around networking traffic</option>
            <option>Around fingerprinting</option>
            <option>Encrypting data</option>
            <option>Backup and recovery</option>
          </optgroup>
        </select>
        {{/if}}
        {{/if}}
        {{/if}}
        {{/if}}
      </div>

      <!-- Submit button -->
      <button class="small-btn blue-btn align-bottom" type="submit">Search</button>
    </form>
  </div>

  <div class="all-projects">
    {{#each user.projects}}
    <div class="hover-effect column-effect project-card">
      <div class="figure"><a href="/projects/{{this.id}}"><img src="{{this.imageUrl}}" alt=""><span>+ View this
            project</span></div></a>
      <div>
        <a href="/projects/{{this.id}}"></a>
        <p class="project-name">{{this.name}}</p></a>
        <p class="project-date">{{this.year_creation}}</p>
      </div>
      {{!-- <div>
        <p class="project-likes">{{this.likes}}72<i class="fas fa-heart"></i></p>
      </div> --}}
      <div class="flex">
        <a href="/projects/{{id}}/edit" class="small-btn blue-btn">Edit</a>
        <form action="/projects/{{id}}/delete" method="POST"><button class="small-btn light-btn">supprimer</button></form>
      </div>
    </div>
    
    {{/each}}
  </div>

</div>