<div id="profile" class="profile-page grey-bg">

  {{!-- {{#if user.ironhacker}} --}}

  <div>
    <img class="profile-picture" source="{{user.profileImgSrc}}" />
    <p class="user-project-quantity">{{#if user.projects.length}} {{user.projects.length}} {{else}} 0{{/if}} projects
    </p>
  </div>

  <div class="profile-informations">
    <p class="profile-name">{{user.lastName}} {{user.firstName}}</p>
    {{#if user.expertise}}<p class="profile-expertise">{{user.expertise}}</p>{{/if}}
    <p class="profile-campus">{{user.campus}}</p>
    <p>{{user.github}}</p>
    <p>{{user.linkedIn}}</p>

    <div class="profile-filters">Filtres</div>
  </div>

  {{!-- Edit btn only if owner of the profile --}}
  {{#if userIsUploader}} {{!-- ATTENTION, MAUVAISE VERIFICATION, CHANGER ! --}}
  <a class="small-btn blue-btn" href="/userEdit">Edit your profile</a>
  {{/if}}


  {{#each user.projects}}
  <div class="project-card {{campus}} {{course}} {{module}}">
    <img src="{{this.imageUrl}}" alt="">
    <div>
      <p class="project-name">{{this.name}}</p>
      <p class="project-date">{{this.year_creation}}</p>
    </div>
    {{!-- <div>
      <p class="project-likes">{{this.likes}}72<i class="fas fa-heart"></i></p>
    </div> --}}
  </div>
  {{/each}}

  {{!-- {{/if}} --}}
</div>