<div class="user-edit profile-page grey-bg">

  <div>
    <img class="profile-picture" src="{{user.profileImgSrc}}" />
    <p class="user-project-quantity">{{#if user.projects.length}} {{user.projects.length}} projects{{else}} 0 project{{/if}}
    </p>
  </div>

  <form action="/userEdit" method="POST" enctype="multipart/form-data">

    <div class="edit-first-column">
      <h1 class="form-title">Edit my profile</h1>

      <label for="input-email">Email</label>
      <input readonly="readonly" type="email" id="input-email" name="email" value="{{user.email}}" placeholder="sheldon_cooper@caltech.edu">

      {{!-- <label for="input-password">Password</label>
      <input type="password" name="password" id="input-password" placeholder="********"> --}}


      <!-- FIELD - Profile picture -->
      <div class="profile-images">
        <label for="image-input">Change your profile picture</label>
        <input type="file" name="image" id="image-input" class="form-control-file" value="{{user.profileImgSrc}}" />
      </div>

      {{#if user.ironhacker}}<label for="ironhacker" style="display: none;"><input type="hidden" class="ironhacker-check" id="ironhacker"
          onclick="ironhackerSignupBox()" name="ironhacker" value="true" {{#if user.ironhacker}}checked{{/if}}>I
        am an Ironhacker</label>

      {{else}}

      <label for="ironhacker"><input type="checkbox" class="ironhacker-check" id="ironhacker"
          onclick="ironhackerSignupBox()" name="ironhacker" value="true">Now, I
        am an Ironhacker</label>

      {{/if}}

      <button type="submit" id="updateAccount" class="small-btn blue-btn visible">Update my account</button>

      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}
    </div>

    <!--Part displayed if ironhacker-->
    <div class="ironhacker-signup-box <!--invisible-->" id="ironhacker-signup-box"
      {{#if user.ironhacker}}style="display: block;" {{/if}}>

      <div>

        <div class="flex">
          <div>
            <label for="input-firstname">Firstname*</label>
            <input type="text" id="input-firstname" name="firstName" placeholder="Sheldon" value="{{user.firstName}}">
          </div>

          <div>
            <label for="input-lastname">Lastname*</label>
            <input type="text" id="input-lastname" name="lastName" placeholder="Cooper" value="{{user.lastName}}">
          </div>
        </div>

        <label for="input-expertise">Expertise</label>
        <input type="text" id="input-expertise" name="expertise" placeholder="super-asymmetry"
          value="{{user.expertise}}">

        <div class="flex">
          <div>
            <label for="input-campus">Campus*</label>
            <select name="campus" id="input-campus">
              <option value="">--Please select your campus--</option>
              <option value="Amsterdam" {{#if userCampusAmsterdam}}selected{{/if}}>Amsterdam</option>
              <option value="Barcelona" {{#if userCampusBarcelona}}selected{{/if}}>Barcelona</option>
              <option value="Berlin" {{#if userCampusBerlin}}selected{{/if}}>Berlin</option>
              <option value="Lisboa" {{#if userCampusLisboa}}selected{{/if}}>Lisboa</option>
              <option value="Madrid" {{#if userCampusMadrid}}selected{{/if}}>Madrid</option>
              <option value="Mexico" {{#if userCampusMexico}}selected{{/if}}>Mexico</option>
              <option value="Miami" {{#if userCampusMiami}}selected{{/if}}>Miami</option>
              <option value="Paris" {{#if userCampusParis}}selected{{/if}}>Paris</option>
              <option value="Remote" {{#if userCampusRemote}}selected{{/if}}>Remote</option>
              <option value="Sao Paulo" {{#if userCampusSaoPaulo}}selected{{/if}}>Sao Paulo</option>
            </select>
          </div>

          <div>
            <label for="input-location">Current location</label>
            <input type="text" id="input-location" name="location" placeholder="Paris, France"
              value="{{user.current_location}}">
          </div>
        </div>

        <label for="input-course">course*</label>
        <select name="course" id="input-course">
          <option value="">--What did you study?--</option>
          <option value="Web-Dev" {{#if courseWebDev}}selected{{/if}}>Web-Dev</option>
          <option value="UX/UI" {{#if courseUX}}selected{{/if}}>UX/UI</option>
          <option value="Data" {{#if courseData}}selected{{/if}}>Data</option>
          <option value="Cyber_Security" {{#if courseCyber}}selected{{/if}}>Cyber Security</option>
        </select>

        <div class="flex">
          <div>
            <label for="input-format">format</label>
            <select name="format" id="input-format">
              <option value="">--What was your course format?--</option>
              <option value="Part-Time">Part Time</option>
              <option value="Full-Time">Full Time</option>
            </select>
          </div>

          <div>
            <label for="input-promo">Promo</label>
            <input type="month" id="input-promo" name="Promo" placeholder="2020-06" min="2013-01"
              value="{{user.promo}}">
          </div>
        </div>

        <label for="input-github">Github</label>
        <input type="text" id="input-github" name="gitHub" placeholder="https://github.com/myAccount"
          value="{{user.gitHub}}">

        <label for="input-linkedin">linkedIn</label>
        <input type="text" id="input-linkedin" name="linkedIn" placeholder="https://www.linkedin.com/in/my-account/"
          value="{{user.linkedIn}}">

        <p class="mandatory">* mandatory</p>

        <button type="submit" id="createAccountBtnRight" class="small-btn blue-btn invisible">Create
          an account</button>

      </div>
    </div>

  </form>

</div>

<script>
  function ironhackerSignupBox() {
    var checkBox = document.getElementById("ironhacker");
    var ironhackerSignupBox = document.getElementById("ironhacker-signup-box");
    var createAccountBtnLeft = document.getElementById("createAccountBtnLeft");
    var createAccountBtnRight = document.getElementById("createAccountBtnRight");
    if (checkBox.checked == true) {
      ironhackerSignupBox.style.display = "block";
      createAccountBtnLeft.classList.add("invisible")
      createAccountBtnLeft.classList.remove("visible")
      createAccountBtnRight.classList.add("visible")
      createAccountBtnRight.classList.remove("invisible")

    } else {
      ironhackerSignupBox.style.display = "none";
      createAccountBtnLeft.classList.add("visible")
      createAccountBtnLeft.classList.remove("invisible")
      createAccountBtnRight.classList.add("invisible")
      createAccountBtnRight.classList.remove("visible")
    }
  }
</script>

<script>
  function checkBoxIronhacker(errorMessage) {
    if (errorMessage != 'All Fields are mandatory.') {
      { { !--window.onload = onPageLoad(); --} }
      document.getElementById("ironhacker").checked = true;
    }
  }
</script>